{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рассылки</title>

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:index' %}">Главная</a>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:client_list' %}">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing:distribution_list' %}">Рассылки</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Content -->
<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="/static/js/bootstrap.bundle.min.js"></script>

</body>
</html>
