<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение регистрации</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6;">
    <h2>Поздравляем!</h2>
    <p>Вы успешно зарегистрировались на нашем портале.</p>
    <p>Для завершения регистрации и активации вашей учетной записи, пожалуйста, перейдите по следующей ссылке:</p>
    <p><a href="{{ verification_link }}">Подтвердить регистрацию</a></p>
    <p>Если вы не регистрировались на нашем портале, просто проигнорируйте это письмо.</p>
    <p>С уважением,</p>
    <p>Администрация портала</p>
</body>
</html>