{% extends 'mailing/base.html' %}

{% block content %}
<main role="main">
    <div class="container mt-4">
        <h2 class="mb-4">Пользователи</h2>

        <div class="list-group">
            {% for user in users %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="font-weight-bold">{{ user.email }}</span>
                    {% if user.is_active %}
                    <span class="badge badge-success">Активен</span>
                    {% else %}
                    <span class="badge badge-danger">Не активен</span>
                    {% endif %}
                    <form method="post" action="{% url 'users:user_change_active' pk=user.pk %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link text-dark nav-link">
                            {% if user.is_active %}
                            Деактивировать
                            {% else %}
                            Активировать
                            {% endif %}
                        </button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
