{% extends 'mailing/base.html' %}

{% block content %}
<main role="main">
    <div class="container mt-4">
        <h2 class="mb-4">Пользователи</h2>

        <div class="list-group">
            {% for user in users %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="font-weight-bold">{{ user.email }}</span>
                    {% if user.is_active %}
                    <span class="badge badge-success">Активен</span>
                    {% else %}
                    <span class="badge badge-danger">Не активен</span>
                    {% endif %}
                    {% if perms.users.set_active %}
                    <div>
                        <form method="post" action="{% url 'users:toggle_user_activity' user.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">
                                {% if user.is_active %}
                                Деактивировать
                                {% else %}
                                Активировать
                                {% endif %}
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
